@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 4em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
    object-fit: contain;
}

.whisky, .empty-whisky{
    align-self: flex-start;
}

.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    margin:1em;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}

.desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-bribe{
    display: flex;
    flex-direction: column;
}

.form-bribe > input{
    width: 90%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.form-bribe > .btn-form{
    width: 10%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.display-bribes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bribes-title{
    border-bottom: solid 1px black;
    padding: 0 0 10px 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.display-bribes > .bribes-names{
    text-align:right;
}

.display-bribes > .bribes-payments{
    margin-left: auto;
    text-align:right;
}  

.bribes-total{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bribes-total > .bribes-total--title{
    text-align:right;
}

.bribes-total > .bribes-total--value{
    margin-left: auto;
    text-align:right;
}  

@media screen and (min-width: 1200px){ /* Large screen styling */
    .empty-whisky{
        display: none;
    }
}

@media screen and (min-width:1101px) and (max-width:1200px){ /* Medium large */
    .inkpen{
        display: none;
    }

    .empty-whisky{
        display: none;
    }
}

@media screen and (min-width:1001px) and (max-width:1100px){ /* Small large */
    .whisky{
        display: none;
    }

    .inkpen{
        display: none;
    }
}

@media screen and (min-width:801px) and (max-width:1000px){ /* Small large */
    .whisky{
        display: none;
    }

    .inkpen{
        display: none;
    }

    .empty-whisky{
        display: none;
    }

    .pages{
        flex-basis: 100%;
    }
}

@media screen and (max-width: 800px){
    .whisky{
        display: none;
    }

    .inkpen{
        display: none;
    }

    .empty-whisky{
        display: none;
    }

    .pages{
        flex-basis: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .pages > .page{
        width: 100%;
    }

}